*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contener{
    width: 1140px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    text-align: center;
    background-color: #213047;
    height: 400px;.
    padding-top: 50px;
    margin:auto;
    
}

/*-------Conten part start--*/
.logo{
    grid-row: 1;
    grid-column:1/-11 ;
    margin: auto;
    margin-top: 20px;

}

.logo img{
text-align: center;
    
}
.manu{
    grid-row: 1;
    grid-column:2/-4 ;
    margin: auto;
    margin-top: 30px;
    
}

.manu ul li{
    display: inline; 
    }
    
.manu ul a{
    margin: 0px 20px;
    text-decoration: none;
    color: black;
    padding: 10px 35px;
    background-color: rgb(15, 255, 255);
    border: 2px solid rgb(82, 119, 107);
    border-radius: 10px;
    font-size:18px ;
    cursor: pointer;
    
}

.manu ul a:hover{
    background-color: aquamarine;
    color: aliceblue;
    
}

.button-1{
    grid-row: 1;
    grid-column:9/-3 ;
    background-color: #213047;
    border: none;
    margin-top: 30px
    

}
.button-1 a{
    text-decoration: none;
    color: black;
    padding: 10px 35px;
    background-color: rgb(15, 255, 255);
    border: 2px solid rgb(82, 119, 107);
    border-radius: 10px;
    font-size:18px ;
    cursor: pointer;
}
.button-1 a:hover{
    background-color: aquamarine;
    color: aliceblue;
    
    
}


.barline{
    grid-column:11/-2 ;
    margin: auto;
    margin-top: 30px
}

.barline img{
    margin: auto;
}

.hp-1{
    grid-row:2 ;
    grid-column: 2/-2;
    background-color: aliceblue;
    height: 2px;
    margin-top: 20px;
}
/*-------Conten part End--*/

/*---- body part-1-Start------*/

.choose{
    grid-row:3 ;
    grid-column: 4/-7;
    color: antiquewhite;
    margin-top: 50px;
    
}
.lo-1{
    grid-row:4 ;
    grid-column: 4/-7;
    color: antiquewhite;
    margin-top: 20px;
}

.mobile-1{
    grid-row:4;
    grid-column: 9/-3;
    color: antiquewhite;

}

.mobile-1 img{
    grid-column: 9/-4;
    height: 300px;
    width: 140px;
}

.button-2{
    grid-row:4;
    grid-column: 3/-8;
    margin-top: 100px;
}
.button-3{
    grid-row:4;
    grid-column: 5/-5;
    margin-top: 100px;
}

/*---- body part-1-Start------*/
.para-1{
    grid-row:6;
    grid-column: 6/-5;
    font-size: 20px;

}
.para-2{
    grid-row:7;
    grid-column: 7/-6;
    background-color: aqua;
    height: 2px;
    width: 80px;
}

.log-1{
    grid-row:6;
    grid-column: 3/-10;
    height: 2px;
    width: 100px;
    margin: auto;
    margin-top: 70px;
}



.log--2{
    grid-row:7;
    grid-column: 2/-10;
    
}
.log--2 img{
    grid-row:7;
    grid-column: 2/-10;
    width: 60px;
}

.helo-1{
    grid-row:7;
    grid-column: 2/-10;
    margin-top: 60px;
    
}

.helo-2{
    grid-row:7;
    grid-column: 2/-10;
    padding-top: 90px;
    width: 200px;
    margin: auto;
}


.log--3{
    grid-row:7;
    grid-column: 5/-7;
    
}
.log--3 img{
    grid-row:7;
    grid-column: 5/-7;
    width: 60px;
}

.helo-3{
    grid-row:7;
    grid-column: 5/-7;
    margin-top: 60px;
    
}

.helo-4{
    grid-row:7;
    grid-column: 5/-7;
    padding-top: 90px;
    width: 200px;
    margin: auto;
}


.log-10{
    grid-row:7;
    grid-column: 7/-4;
    
}
.log-10 img{
    grid-row:7;
    grid-column: 7/-4;
    width: 60px;
}

.helo--10{
    grid-row:7;
    grid-column: 7/-4;
    margin-top: 60px;
}

.helo-10{
    grid-row:7;
    grid-column: 7/-4;
    padding-top: 90px;
    width: 200px;
    margin: auto;
}


.log-11{
    grid-row:7;
    grid-column: 10/-2;
    
}
.log-11 img{
    grid-row:7;
    grid-column: 10/-2;
    width: 60px;
}

.helo--11{
    grid-row:7;
    grid-column: 10/-2;
    margin-top: 60px;
}

.helo-11{
    grid-row:7;
    grid-column: 10/-2;
    padding-top: 90px;
    width: 200px;
    margin: auto;
}

.dit-1{
    grid-row:8;
    grid-column: 1/-7;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.753);
    margin-top: 50px;
}
.dit-2{
    grid-row:8;
    grid-column: 7/-1;
    height: 300px;
    background-color: rgba(225, 214, 214, 0.411);
    margin-top: 50px;
}
.a12{
    margin-top: 50px;
    text-align: left;
    margin-left: 100px;


}
.a13{
    margin-top: 20px;
    text-align: left;
    margin-left: 100px;
}

.dit-3{
    grid-row:9;
    grid-column: 1/-6;
    height: 300px;
    background-color: rgba(240, 234, 234, 0.753);
    margin-top: 50PX;
    text-align: right;
}
.dit-4{
    grid-row:9;
    grid-column: 8/-1;
    height: 300px;
    background-color:#291d3f;
    margin-top: 50PX;
}
.a15{
    margin-top: 50px;
    text-align: left;
    margin-left: 100px;


}
.a16{
    margin-top: 20px;
    text-align: left;
    margin-left: 100px;
}

.a120{
    margin-top: 50px;
    text-align: right;
    margin-right: 100px;


}
.a130{
    margin-top: 20px;
    text-align: right;
    margin-right: 100px;
}

.button-12{
    grid-column:9/-3 ;
    background-color: #213047;
    border: none;
    margin-top: 30px;
    margin-right: 100px;
}

.button-12 a{
    text-decoration: none;
    color: black;
    padding: 10px 35px;
    background-color: rgb(15, 255, 255);
    border: 2px solid rgb(82, 119, 107);
    border-radius: 10px;
    font-size:18px ;
    cursor: pointer;
}
.button-12 a:hover{
    background-color: aquamarine;
    color: aliceblue;
    
}


.mo-11{
        grid-row:10;
        grid-column: 3/-8;
        

}
.mo-11 img{
    height: 450px;
    margin-top: 50px;
}

.mo-12{
    grid-row:10;
    grid-column: 7/-5;
    margin-top: 60px;
    margin-left: 10px;

}

.mo-12 img{
    
}

.mo-13{
    grid-row:10;
    grid-column: 7/-5;
    margin-top: 145px;
}

.mo-13 a{
    
}
.mo-14{
    grid-row:10;
    grid-column: 7/-5;
    margin-top: 320px;
}
.mo-14 a{
    
}

.mo-15{
    grid-row:10;
    grid-column: 7/-5;
    margin-top: 400px;
}

.mo-15 a{
    
}

/*---- body part-2-End------*/
/*------------------------------------*/
/*---- body part-3-Stat------*/

.Eve{
    grid-row:11;
    grid-column: 1/-8;
    text-align: right;
}
.y{
    margin-top: 60px;

}

.x{
    margin-top: 20px;
}

.z{
    margin-top: 10px;   
}
.a{
    margin-top: 20px;
    line-height: -10px;
}

.ba{
    grid-row:11;
    grid-column: 7/-1;
    text-align: center;
    margin: auto;
}
.a-1{
    grid-row:11;
    grid-column: 7/-5;
    width: 120px;
    height: 250px;
    border: #a7afbc solid 2px;
    margin-top: 100px;
    background-color: aliceblue;;
    float: left;

}
.a-2{
    grid-row:11;
    grid-column: 9/-3;
    width: 250px;
    height: 350px;
    border: #887474 solid 2px;
    background-color: rgb(0, 0, 0);
    float: left;
}
.a-3{
    grid-row:11;
    grid-column: 11/-1;
    width: 120px;
    height: 250px;
    border: #a7afbc solid 2px;
    margin-top: 100px;
    background-color: aliceblue;;
    float: left; 
}
/*---- body part-3-End------*/


/*---- body part-4-srat------*/

.part-4{
    grid-row: 12;
    grid-column: 1/-1;
    height: 300px;
    background-color:#213047;
}

.con-5 img{
    grid-row: 12;
    grid-column: 6/-6;
    text-align: center;
    margin-top: 50px;

}
.WATCH{
    font-size: 22px;
    color: #fff;
    margin-top: 10px;

}
.pra-1{
    grid-row: 12;
    text-align: center;
    margin-top: 50px;
    color: #fff;

}
/*---- body part-4-End------*/

/*---- body part-5-Stat------*/
.part-7{
    grid-row: 13;
    grid-column: 1/-1;
    height: 300px;
}
.most{
    grid-row: 13;
    grid-column: 5/-7;
    
    margin-top: 50px;
}
.pra-10{
    grid-row: 13;
    text-align: center;
    margin-top: 20px;
}

.button-20{
    
    background-color: #213047;
    border: none;
    margin-top: 30px
    

}
.button-20 a{
    text-decoration: none;
    color: black;
    padding: 10px 35px;
    background-color: rgb(15, 255, 255);
    border: 2px solid rgb(82, 119, 107);
    border-radius: 10px;
    font-size:18px ;
    cursor: pointer;
}
.button-20 a:hover{
    background-color: aquamarine;
    color: rgb(149, 150, 151);
}
/*---- body part-5-End------*/



/*---- body 
part-6-End------*/
.p-8{
    grid-row:14;
    grid-column: 1/-1;
    height: 200px;
    background-color:#213047;
}

.pra-100{
    grid-row: 14;
    color: #fff;
    margin:70px 200px ;
}
/*---- body part-6-End------*/

/*---- body part-7-End------*/

.moba-1{
    grid-row: 15;
    grid-column: 3/-8;
}
.moba-1 img{
    grid-row: 15;
    grid-column: 3/-8;
    width: 200px;
    margin-top: 30px;
}
.Now{
    grid-row: 15;
    grid-column: 7/-6;
    width: 150px;
    margin-top: 100px;
}
.ho-1{
    grid-row: 15;
    grid-column: 7/-4;
    margin-top:140px;
    text-align: left;
}
.moba-2{
    grid-row: 15;
    grid-column: 7/-6;
    margin-top: 200px;
}

.moba-3{
    grid-row: 15;
    grid-column: 8/-4;
    margin-top: 200px;
    
}
.button-50{
    grid-row: 15;
    grid-column: 5/-6;
    border: none;
    margin-top: 310px; 
}

.button-50 a{
    text-decoration: none;
    color: black;
    padding: 10px 35px;
    background-color: rgb(15, 255, 255);
    margin-top: 30px
    cursor: pointer;
}
.button-50 a:hover{
    background-color: aquamarine;
    color: rgb(149, 150, 151);
}

.Compane{
    grid-row: 16;
    grid-column: 2/-11;
}

.com{
    font-size: 18px;
    margin-top: 30px;
}

.co{
    list-style: none;
    margin-top: 20px;
}

.co li a{
    margin: 0px 20px;
    text-decoration: none;
    font-size:15px ;
    cursor: pointer;
}


.Developmant{
    grid-row: 16;
    grid-column: 4/-8;
}

.Dev-1{
    font-size: 18px;
    margin-top: 30px;
}

.De{
    list-style: none;
    margin-top: 20px;
}

.De li a{
    margin: 0px 20px;
    text-decoration: none;
    font-size:15px ;
    cursor: pointer;
}


.Marketing{
    grid-row: 16;
    grid-column: 6/-6;
}

.mar-1{
    font-size: 18px;
    margin-top: 30px;
}

.Ma{
    list-style: none;
    margin-top: 20px;
}

.Ma li a{
    margin: 0px 20px;
    text-decoration: none;
    font-size:15px ;
    cursor: pointer;
}

.Community{
    grid-row: 16;
    grid-column: 9/-4;
}

.Com-1{
    font-size: 18px;
    margin-top: 30px;
}

.Co{
    list-style: none;
    margin-top: 20px;
}

.Co li a{
    margin: 0px 20px;
    text-decoration: none;
    font-size:15px ;
    cursor: pointer;
}

.Info{
    grid-row: 16;
    grid-column: 11/-2;
}

.in{
    font-size: 18px;
    margin-top: 30px;
}

.inf-1{
    list-style: none;
    margin-top: 20px;
}

.inf-1 li a{
    margin: 0px 20px;
    text-decoration: none;
    font-size:15px ;
    cursor: pointer;
}

.ge-1{
    grid-row: 17;
    grid-column: 6/-6;
    margin-top: 30px;
    font-size: 25px;
}

.do-1{
    grid-row: 17;
    grid-column: 6/-6;
    margin-top: 65px;
    font-size: 16px;
}

.button-51{
    grid-row: 17;
    grid-column: 8/-3;
    border: none;
    margin-top: 130px; 
}

.button-51 a{
    text-decoration: none;
    color: black;
    padding: 10px 35px;
    background-color: rgb(15, 255, 255);
    margin-top: 30px
    cursor: pointer;
}
.button-51 a:hover{
    background-color: aquamarine;
    color: rgb(149, 150, 151);
}

/*---- body part-7-End------*/

/*--HEDER PART START--*/
.heder-s{
    grid-row: 18;
    grid-column: 1/-1;
    background-color: #213047;
    height: 80px;
    margin-top: 80px;
}
.zakir-1{
    grid-row: 18;
    grid-column: 1/-7;
    color: #fff;
    float: left;
    margin-top: 30px;
    margin-left: 80px;
}

.fac img{
    margin-top: 30px;
}

/*--HEDER PART END--*/







